@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Plus Jakarta Sans", serif;
}

.more-arrow{
    top: calc(50% - 10px);
}

.open-shop-desc{
    background: rgb(21,94,239);
    background: linear-gradient(90deg, rgba(21,94,239,1) 0%, rgba(21,94,239,0.23043746307116597) 45%);
}